apiVersion: v1
kind: Secret
metadata:
  name: app-secret
  namespace: devops-assessment
type: Opaque
stringData:
  DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
  REDIS_URL: redis://redis:6379
