apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: devops-app-monitor
  namespace: devops-assessment
  labels:
    app: devops-app
    release: prometheus
spec:
  selector:
    matchLabels:
      app: devops-app
  endpoints:
  - port: http
    path: /metrics
    interval: 15s
    scrapeTimeout: 10s
  namespaceSelector:
    matchNames:
    - devops-assessment
