apiVersion: v1
kind: Service
metadata:
  name: devops-app-service
  namespace: devops-assessment
  labels:
    app: devops-app
spec:
  type: NodePort
  selector:
    app: devops-app
  ports:
  - port: 80
    targetPort: 8000
    nodePort: 30080
    protocol: TCP
    name: http
