apiVersion: v1
kind: Service
metadata:
  name: {{ include "devops-assessment.fullname" . }}
  labels:
    {{- include "devops-assessment.labels" . | nindent 4 }}
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "8000"
    prometheus.io/path: "/metrics"
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
      {{- if .Values.service.nodePort }}
      nodePort: {{ .Values.service.nodePort }}
      {{- end }}
  selector:
    {{- include "devops-assessment.selectorLabels" . | nindent 4 }}
